<a href="https://colab.research.google.com/github/prasad1482/restuarant_recommendation/blob/main/restuarant_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("Dataset .csv")

In [7]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [8]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [9]:
most_common_cuisine = df['Cuisines'].mode()[0]
df['Cuisines'].fillna(most_common_cuisine, inplace=True)

<ipython-input-9-6b8ab2be3713>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cuisines'].fillna(most_common_cuisine, inplace=True)

In [10]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [11]:
# 📊 Unique Cuisines
print("\nUnique Cuisine Types:")
print(df['Cuisines'].unique())

Unique Cuisine Types:
['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' ... 'Burger, Izgara'
 'World Cuisine, Patisserie, Cafe' 'Italian, World Cuisine']

In [12]:
# 📈 Rating Statistics
print("\nAggregate Rating Stats:")
print(df['Aggregate rating'].describe())

Aggregate Rating Stats:
count    9551.000000
mean        2.666370
std         1.516378
min         0.000000
25%         2.500000
50%         3.200000
75%         3.700000
max         4.900000
Name: Aggregate rating, dtype: float64

#content based filtering

In [13]:
favorite_cuisine = 'Italian'
price_range = 3
city = 'Delhi'

In [14]:
# Filter Based on Cuisine
recommended_restaurants = df[df['Cuisines'].str.contains(favorite_cuisine, case=False, na=False)]

In [15]:
# Further Filter by Price Range
recommended_restaurants = recommended_restaurants[recommended_restaurants['Price range'] == price_range]

In [16]:
# Further Filter by City
recommended_restaurants = recommended_restaurants[recommended_restaurants['City'].str.contains(city, case=False, na=False)]

In [17]:
# Sort by Ratings
recommended_restaurants = recommended_restaurants.sort_values(by='Aggregate rating', ascending=False)

In [18]:
print("\n📌 Content-Based Recommendations:")
print(recommended_restaurants[['Restaurant Name', 'Cuisines', 'City', 'Price range', 'Aggregate rating']])

📌 Content-Based Recommendations:
      Restaurant Name                                       Cuisines  \
3012      MOB Brewpub            Continental, Italian, Asian, Indian
4639        Big Chill           Italian, Continental, European, Cafe
3658      Owl is Well    Burger, American, Fast Food, Italian, Pizza
4638        Big Chill           Italian, Continental, European, Cafe
6461  The Coffee Shop                                  Cafe, Italian
...               ...                                            ...
3009    My Bar Square    North Indian, Chinese, Italian, Continental
5499       Basil Tree                 North Indian, Italian, Chinese
7704        Pizza Hut                      Italian, Pizza, Fast Food
5996         Hang Out  Italian, Continental, Fast Food, North Indian
5419  Moets Curry Pot                 North Indian, Chinese, Italian

           City  Price range  Aggregate rating
3012  New Delhi            3               4.7
4639  New Delhi            3               4.6
3658  New Delhi            3               4.5
4638  New Delhi            3               4.5
6461  New Delhi            3               4.4
...         ...          ...               ...
3009  New Delhi            3               2.5
5499  New Delhi            3               2.4
7704  New Delhi            3               2.4
5996  New Delhi            3               0.0
5419  New Delhi            3               0.0

[162 rows x 5 columns]

#Collaborative Filtering

In [19]:
# Create Pivot Table
user_restaurant_matrix = df.pivot_table(index='City', columns='Restaurant Name', values='Aggregate rating')

In [20]:
# Fill NA with 0 (or you can try mean instead)
user_restaurant_matrix.fillna(0, inplace=True)

In [21]:
print("\n📊 User-Restaurant Matrix Preview:")
print(user_restaurant_matrix.head())

📊 User-Restaurant Matrix Preview:
Restaurant Name  #45  #Dilliwaala6  #InstaFreeze  #OFF Campus  #Urban Caf��  \
City
Abu Dhabi        0.0           0.0           0.0          0.0           0.0
Agra             0.0           0.0           0.0          0.0           0.0
Ahmedabad        0.0           0.0           0.0          0.0           0.0
Albany           0.0           0.0           0.0          0.0           0.0
Allahabad        0.0           0.0           0.0          0.0           0.0

Restaurant Name  #hashtag  'Ohana  10 Downing Street  10 To 10 In Delhi  \
City
Abu Dhabi             0.0     0.0                0.0                0.0
Agra                  0.0     0.0                0.0                0.0
Ahmedabad             0.0     0.0                0.0                0.0
Albany                0.0     0.0                0.0                0.0
Allahabad             0.0     0.0                0.0                0.0

Restaurant Name  11th Avenue Cafe Bistro  ...  feel ALIVE  hug!  iGNiTE  \
City                                      ...
Abu Dhabi                            0.0  ...         0.0   0.0     0.0
Agra                                 0.0  ...         0.0   0.0     0.0
Ahmedabad                            0.0  ...         0.0   0.0     0.0
Albany                               0.0  ...         0.0   0.0     0.0
Allahabad                            0.0  ...         0.0   0.0     0.0

Restaurant Name  iKitchen  sketch Gallery  t Lounge by Dilmah  tashas  \
City
Abu Dhabi             0.0             0.0                 0.0     0.0
Agra                  0.0             0.0                 0.0     0.0
Ahmedabad             0.0             0.0                 0.0     0.0
Albany                0.0             0.0                 0.0     0.0
Allahabad             0.0             0.0                 0.0     0.0

Restaurant Name  wagamama  {Niche} - Cafe & Bar  �ukura��a Sofras۱
City
Abu Dhabi             0.0                   0.0                0.0
Agra                  0.0                   0.0                0.0
Ahmedabad             0.0                   0.0                0.0
Albany                0.0                   0.0                0.0
Allahabad             0.0                   0.0                0.0

[5 rows x 7446 columns]