<a href="https://colab.research.google.com/github/prasad1482/restuarant_recommendation/blob/main/restuarant_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/Dataset .csv")

In [4]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [5]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
most_common_cuisine = df['Cuisines'].mode()[0]
df['Cuisines'].fillna(most_common_cuisine, inplace=True)

<ipython-input-6-6b8ab2be3713>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cuisines'].fillna(most_common_cuisine, inplace=True)

In [7]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

#content based filtering

In [8]:
unique_cusines=df["Cuisines"].unique()
print(unique_cusines)

['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' ... 'Burger, Izgara'
 'World Cuisine, Patisserie, Cafe' 'Italian, World Cuisine']

In [9]:
  favorite_cuisine = 'Italian'
  recommended_restaurants = df[df['Cuisines'].str.contains(favorite_cuisine, case=False, na=False)]
  print(recommended_restaurants[['Restaurant Name', 'Cuisines', 'City']])

                    Restaurant Name                           Cuisines  \
15                    Cafe Arabelle  Cafe, American, Italian, Filipino
16         Nonna's Pasta & Pizzeria                     Italian, Pizza
19          Wildflour Cafe + Bakery    Cafe, Bakery, American, Italian
21    The Food Hall by Todd English  American, Asian, Italian, Seafood
31                     Villa Tevere                            Italian
...                             ...                                ...
9499                CIOCONAT Lounge            Italian, Cafe, Desserts
9500                 The Paddington                      Cafe, Italian
9512      The Manhattan Fish Market                   Seafood, Italian
9525                        Cafemiz    World Cuisine, Mexican, Italian
9548                          Huqqa             Italian, World Cuisine

             City
15     Santa Rosa
16     Santa Rosa
19    Taguig City
21    Taguig City
31      Bras�_lia
...           ...
9499      Colombo
9500      Colombo
9512      Colombo
9525       Ankara
9548    ��stanbul

[764 rows x 3 columns]

In [10]:
user_price_range = 3  # Example: 1 (low) to 4 (high)
recommended_restaurants = df[
    (df['Cuisines'].str.contains(favorite_cuisine, case=False, na=False)) &
    (df['Price range'] == user_price_range)
]
print(recommended_restaurants[['Restaurant Name', 'Cuisines', 'City', 'Price range', 'Aggregate rating']])

                   Restaurant Name  \
15                   Cafe Arabelle
16        Nonna's Pasta & Pizzeria
115       La Dolce Vita Ristorante
166   Biaggi's Ristorante Italiano
206                     Wood Stone
...                            ...
9395               Jamie's Italian
9402               Jamie's Italian
9476                      Parrot's
9499               CIOCONAT Lounge
9500                The Paddington

                                        Cuisines                    City  \
15             Cafe, American, Italian, Filipino              Santa Rosa
16                                Italian, Pizza              Santa Rosa
115                                      Italian                  Athens
166                               Italian, Pizza  Cedar Rapids/Iowa City
206                Italian, Mediterranean, Pizza                Columbus
...                                          ...                     ...
9395                                     Italian                  London
9402                                     Italian              Manchester
9476  Contemporary, Sushi, Grill, Italian, Steak                Pretoria
9499                     Italian, Cafe, Desserts                 Colombo
9500                               Cafe, Italian                 Colombo

      Price range  Aggregate rating
15              3               3.6
16              3               4.0
115             3               4.1
166             3               4.1
206             3               4.0
...           ...               ...
9395            3               4.3
9402            3               3.9
9476            3               3.4
9499            3               3.7
9500            3               3.6

[325 rows x 5 columns]

In [11]:
#sorted recommendation
recommended_restaurants = recommended_restaurants.sort_values(by='Aggregate rating', ascending=False)
print(recommended_restaurants[['Restaurant Name', 'Cuisines', 'Aggregate rating', 'Votes']])

                     Restaurant Name  \
512   Ella's Americana Folk Art Cafe
2483              The Fusion Kitchen
3012                     MOB Brewpub
2420                           Mocha
2279                           Mocha
...                              ...
5499                      Basil Tree
7704                       Pizza Hut
5996                        Hang Out
5419                 Moets Curry Pot
8098                       Pizza Hut

                                           Cuisines  Aggregate rating  Votes
512                International, Italian, Southern               4.8   1715
2483        North Indian, Italian, Chinese, Mexican               4.7   2083
3012            Continental, Italian, Asian, Indian               4.7     52
2420                     Cafe, Italian, Continental               4.6    567
2279                                  Cafe, Italian               4.6    394
...                                             ...               ...    ...
5499                 North Indian, Italian, Chinese               2.4     96
7704                      Italian, Pizza, Fast Food               2.4    224
5996  Italian, Continental, Fast Food, North Indian               0.0      3
5419                 North Indian, Chinese, Italian               0.0      1
8098                      Italian, Pizza, Fast Food               0.0      0

[325 rows x 4 columns]